<% content_for(:title, t('.title')) %>
<div class="container mx-auto mt-10 w-1/3">
      <h1><%= t('.title') %></h1>
      <%= form_with url: password_resets_path, local: true do |f| %>
          <%= f.email_field :email, class: 'input form-control bg-white w-full my-3', placeholder: 'Email' %>
        <%= f.submit t('password_resets.new.submit'), class: 'btn btn-primary' %>
    <% end %>
</div>
