<footer class="footer p-10 bg-base-200 text-base-content justify-end">
<div class="w-3/2 flex flex-row mx-4">
  <div>
    <%= link_to t('defaults.terms'), terms_path, class:'link link-hover' %>
  </div>
  <div>
    <%= link_to t('defaults.privacy_policy'), privacy_policy_path, class:'link link-hover' %>
  </div>
  <div>
    <span class="footer-title">©Vino!Vino!!Vino!!! 2023</span>
  </div>
  </div>
</footer>
