<div class="float-left h-screen">
    <ul class="menu bg-base-100 w-56 mr-8">
      <li class="hover-bordered"><%= link_to '州選択に戻る', quizzes_path %></li>
      <%= render partial: 'shared/question', collection: @questions %>
    </ul>
</div>
