<div class="float-left h-screen">
<ul class="menu bg-base-100 w-56">
<% num = 0 %>
<% @questions.each do |question| %>
  <li class="hover-bordered"><%= link_to "第 #{ num += 1 } 問", quiz_question_path(question.region_id, question.id) %></li>
<% end %>
</ul>
</div>
